p{
    color: blue;
}

body{
/* background-image: url(zaszlo.jpg);    background-size: cover} */

}
h1{
    color: rgb(255, 0, 0);
    text-align: center;
}


/* #okori{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: italic;
    font-size: 150%;
/* margin: 100px 100px 100px 100px;  */
/* font-variant: small-caps; */
/* line-height: 1.5;
text-transform: lowercase;
text-transform: uppercase; */ */



#nob{
    text-decoration: underline;
}


p{
    font-family: 'Times New Roman', Times, serif;
    /* text-align: justify; */
    line-height: 10px;
    margin: 20px 100px 20px 100px;
    background-color: aqua;
    text-indent: 20px;
}

li{
    list-style-image: url(logo.png);
}
#bejarat{
    height: 200px; width: 200px; 
    float: right;
    border: 5px solid rgb(255, 251, 0);
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.szoveg{
text-transform: uppercase;
}